//variables de proyecto

//color fondo
$color-bg: #FFFFFF;

//color font del header p
$color-font: #293845;

//color fondo del header nav ul
$color-bgnav:#FAE6D8;

//color borde del header nav ul
$color-bordernav: #EEA26B;

//color de los titulos
$color-titulo: #e27f38;

//color de los parrafos
$color-parrafo: #384957;

//color fondo container tres
$color-container: white;

//color letra continer tres h4
$color-containerh4:#FFFFFF;

//color del cosospan
$color-cosospan: #785dc8;


